DATABASE_URL=postgresql://sgconfi:sgconfi123@localhost:5432/sgconfi

JWT_SECRET=cambia_esto_minimo_32_caracteres_secreto
JWT_EXPIRES_IN=15m

REFRESH_TOKEN_SECRET=cambia_esto_tambien_minimo_32_chars
REFRESH_TOKEN_EXPIRES_IN=7d

# local | s3
UPLOAD_STORAGE=local
UPLOAD_LOCAL_PATH=./uploads

# Solo necesario si UPLOAD_STORAGE=s3
S3_BUCKET=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=

PORT=3001
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
